
<h1 id="ti"><div style="color: crimson" class="center sliding">Transformar la IP a Código Binario</div></h1>
<div id="cu">
  <input  style="color: blueviolet" id="n1" type="number" [(ngModel)]="num1" placeholder="Primer valor de la Ip" />
  <input style="color: blue" type="number" [(ngModel)]="num2" placeholder="Segundo valor de la Ip" />
  <input style="color:chartreuse" type="number" [(ngModel)]="num3" placeholder="Tercero valor de la Ip" />
  <input style="color: darkgreen" type="number" [(ngModel)]="num4" placeholder="Cuarto valor de la Ip" />
</div>
<br>
<div id="ip1" style="color: blueviolet" >
  valor 1 de la IP:{{res}}
</div>
<br>
<div id="ip2"  style="color: blue">
  valor 2 de la IP:{{res2}}
</div>
<br>
<div  id="ip3" style="color:chartreuse">
  valor 3 de la IP:{{res3}}
</div>
<br>
<div id="ip4" style="color: darkgreen">
  valor 4 de la IP:{{res4}}
</div>
<br>
<div>
  <button class="grid-block" style="background-image: url(https://www.kn3.net/VCLR/60-D-B-D-B-F-0-BB1-JPG.html);"  (click)="prueba()"> TRANSFORMAR </button>
</div>
