p {
  font-family: Lato;
}
 #ti{
   text-align: center;
 }
 #cu {
   text-align: center;
 }
 #ip1 {
  text-align: center;
}
#ip2 {
  text-align: center;
}
#ip3 {
  text-align: center;
}
#ip4 {
  text-align: center;
}
